<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <section name="repositoryNodesConfiguration" type="PSNC.RepoAV.Services.RepositoryAccess.RepositoryNodesConfigurationSection, RepositoryAccess" />
  </configSections>

  <repositoryNodesConfiguration>
    <redirection enabled="true" smartRedirectForRequestHeader="EP-CDN-REQ" />
    <repositoryNodes thisNodeId="1">
      <add id="1" enabled="true" address="10.10.10.1" />
      <add id="2" enabled="true" address="10.10.10.2" />
    </repositoryNodes>
  </repositoryNodesConfiguration>

  <appSettings>
    <add key="NetworkAddressAndMaskWithoutAuthorization" value="10.0.0.0/8" />
    <add key="ResponseCachingTime" value="5" />
  </appSettings>
  
  <connectionStrings>
    <add name="ContentDB" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=MaterialFormatDB_2;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="RepoDB" connectionString="Data Source=(local);Initial Catalog=RepoDB;user=sa;password=aaaaaa" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add fileName="RepositoryAccess.log" header="" footer="" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="FlatFile TraceListener"/>
    </listeners>
    <formatters>
      <add template="[{timestamp(local:yyyy-MM-dd HH:mm:ss.ffff)}]&#xA;[{severity}][{category}] {message}&#xA;" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="Information" name="General">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Information" name="RepositoryAccess">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>


  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <system.webServer>
    <modules>
      <remove name="DownloadModule"/>
      <add name="DownloadModule" type="PSNC.RepoAV.Services.RepositoryAccess.DownloadModule"/>
    </modules>
  </system.webServer>
  
</configuration>
